body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-part{
    display: flex;
    margin-bottom: 40px;
}

.middle-part{
    display: flex;
}

.same-part{
    width: 50%;
    padding-left: 30px;
}


.same-middle{
    width: 50%;
    padding-left: 30px;
}
.same-part p{
    text-align: justify;
    padding-bottom: 10px;
}

.same-middle p{
    text-align: justify;
    padding-bottom: 10px;
}
.middle-para{
    text-align: justify;
    padding-bottom: 10px;
    padding-right: 20px;
}
.same-part img{
    width: 70%;
    padding-left: 50px;
   margin-top: 50px;
    
}

.same-middle img{
    width: 80%;
    margin-top: 50px;
    
}

.wel-text{
    font-size: 50px;
}

.first-text{
    font-size: 45px;
}

.middle-text{
    font-size: 50px;
}

.second-text{
    font-size: 45px;
}

.orange-color{
    color: orange;
}

.link-button{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    background-image: radial-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    
}

.link-button:hover{
    color: #fff;
    background-image: radial-gradient(black,rgb(8, 3, 1));
}

.middle-button{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    background-image: radial-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}


.middle-button:hover{
    color: #fff;
    background-image: radial-gradient(black,rgb(8, 3, 1));
}

#section-one{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
   
}


#section-two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.ex-text{
    font-size: 50px;
    padding-left: 30px;
}

.box-section{
    display: flex;
}

#box-background{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}